<div class="row card travel-small-card">
  <div class="col s4 travel-small-card-image" style="<%=image%>" >
  </div>
  <div class="col s8 travel-small-card-content">
    <p><%= title %></p>
    <label><%= label %></label>
  </div>
</div>