<div class="section gray">
  <div class="container">

<h1>新增景點</h1>

    <div class="card">
      <div class="card-content">

<%= render partial: "form", locals: { attraction: @attraction } %>

</div>
</div>
</div>
</div>