body{
	font-family: 'Noto Sans TC','Noto Sans',sans-serif;;
}

.all-tags-container{
	text-align: left;
	padding-bottom: 16px;
}

.grid-css{
	padding-top: 0px;
	padding-bottom: 8px;
	padding-left: 64px;
}

/* clear fix */
.grid-css:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item{ 

}

.input-outter{
	text-align: left;
	max-width: 800px;
}

.materialize-tags{
	padding: 0 0;
}

.materialize-tags .chip{
	margin-top: 6px;
	margin-bottom: 2px;
}

.materialize-tags .chip .material-icons{
	cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

.materialize-tags input.n-tag{
	margin: 0 0;
	display: inline !important;
}

.tags-outter{
	max-width: 800px;
	text-align: left;
	min-height: 60px;
}

.tags-outter span{
	position: absolute;
	padding-top: 30px;
	font-size: 14px;
	color: #606060;
}

#function{
	background-color: #fff;
}

.chip.vibe{
	background-color: #F4F4F4;
	border: 1px solid #E37222;
}

.chip.traffic{
	background-color: #F4F4F4;
	border: 1px solid #07889B;
}

.chip.time{
	background-color: #F4F4F4;
	border: 1px solid #C09F80;
}

.chip.returned{
	background-color: #FEDCD2;
}

.main-input .submit{
	display: block !important;
}

#search_location{
	display: block !important;
}

.main-input{
	text-align: left;
}

label{
	margin-bottom: -10px;
}

::placeholder {
  color: #9e9e9e;
  font-size: 0.9rem;
}

footer.page-footer {
		margin-top: 120px;
    padding-top: 20px;
    background-color: #828081;
}

.devise-btn-div {
	padding: 24px 24px;
	text-align: center;
}

.devise-btn {
	min-width: 250px;
}

.btn-like {
	background-color: #4db6ac !important;
}

.btn-unlike {
	background-color: #757575 !important;
}

.comment-tbody .comment-delete{
	text-decoration: none;
	color: #984B43;
	border: 1px solid #984B43;
	padding: 4px 4px;
	border-radius: 12px;
	float: right;
}

.imageInputWarpper{
	padding-top: 88px;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.file-upload {
		margin-top: 28px;
    border: 1px solid #008f95;
    border-radius: 12px;
    display: block;
    padding: 6px 12px;
    color: #008f95 !important;
    cursor: pointer !important; 
}

label {
	color: grey !important;
	font-size: 14px !important;
}

#review-fails {
	background-color: #fff;
	border: 1px grey solid;
}

.reviews-card {
	max-height: 120px;
	overflow: hidden;
}

.review-cards-wrapper .reviews-card .card-content, .review-relate .reviews-card .card-content{
	text-decoration:none;
	color: black;
}

.review-cards-wrapper .reviews-card .card-content p, .review-relate .reviews-card .card-content p{
	font-size: 18px;
}

.review-cards-wrapper .reviews-card, .review-relate .reviews-card{
	max-height: 120px;
	overflow: hidden;
}

.review-cards-wrapper .reviews-card .card-image, .review-relate .reviews-card .card-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	max-width: 150px;
}

#show-review p{
	font-size: 18px;
	font-weight: 400;
	padding-top: 24px;
}

#show-review img{
	max-width: 90%;
	border-radius: 24px;
}

.review-relate h5{
	padding: 24px 0px;
}

.spot-reviews-title .btn{
	margin-bottom: 16px;
	margin-left: 24px;
	height: 25px;
	line-height: 25px;
}

#spot-reviews{
  margin-left: 0rem;
  margin-right: 0rem;
}

#spot-reviews p{
	margin-bottom: 36px;
}

.responsive-table{
	background-color: #fff;
	width:100%; 
}

.responsive-table td{
	max-width: 100%;
}

.responsive-table td p{
	display: inline-block;
	max-width: 80%;
	margin-top: 0;
	margin-bottom: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.short-text{
	max-width: 300px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modal .modal-content.tags-modal{
	padding: 12px 48px;
}

.modal-tag{
	cursor: pointer;
}

#tags-modal-table{
	margin: 0 auto;
	max-width: 900px;
}

#tags-modal-table td{
	padding: 0px 4px;
}

#review_attraction_name{
}

.review-images{
	padding: 24px 24px;
}

.review-images img{
	margin-bottom: 24px;
}

.browse-form-submit{
	padding-top: 12px;
	padding-bottom: 36px;
}

.browse-form{
	padding-top: 36px;
}

.browse-form p{
	width: 82px;
	display: inline-block;
	margin: 0 0;
	margin-right: 8px;
	margin-bottom: 12px;
}

.browse-form p label{
	padding-left: 25px;
}

/* 以下後台CSS */

nav.pagination{
	padding-left: 24px;
	padding-right: 24px;
	background-color: #fff;
	height: inherit;
}

nav.pagination span{
	padding: 4px 8px;
	border: 1px solid #DCDCDC;
	margin-right: 12px;
}

nav.pagination span a{
	color: black;
}

nav.pagination span.current, nav.pagination span.gap{
	color: blue;
}

form.new_attraction [type="checkbox"]+label {
	padding-left: 24px;
	margin-right: 24px;
}

.admin_user_form select{
	width: 100px;
	display: inline-block;
}

.api-result{
	padding: 16px 16px;
	margin: 16px 16px;
	background-color: #EAE3EA;
	border-radius: 12px;
	border: 2px solid #945D60;
}

.api-result p{
	font-size: 18px;
}

.review_audit_form{
	margin-top: 24px;
	margin-bottom: 24px;
}

.review_audit_form span{
	margin-left: 16px;
	margin-right: 4px;
}

.review_audit_form select{
	width: 150px;
	margin-right: 24px;
	display: inline-block;
}

.review_audit_form .btn{
	margin-right: 24px;
}