
<div id="new-review" class="section gray">
  <div class="container">

    <div class="card">
      <div class="card-content">
				<h4>編輯Review</h4>
				<%= render partial: "form", locals: { attraction: @attraction, review: @review, type: "edit"  } %>
      </div>
    </div>

  </div>
</div>

<%= javascript_tag do %>
  $(function(){

    <%#客製 layout 的變數%>
    $("#mainnav-2").addClass('active');
    $("#sidenav-2").addClass('active');

    $("#nav-bg-img").css("background-image","url(<%= asset_path 'map.jpg' %>)");
    $("#nav-header-h1").text("紀錄旅程點滴");
    $("#nav-header-tag").text("幫助更多喜愛旅遊的人！");

  })
<% end %>