
<div id="new-review" class="section gray">
  <div class="container">

    <div class="card">
      <div class="card-content">
				<h4>遊記修改</h4>
				<%= render partial: "form", locals: { attraction: @attraction, review: @review, type: "edit", form_controller: "reviews", form_action: "update"  } %>
      </div>
    </div>

  </div>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
     <%= render file: "#{Rails.root}/app/views/reviews/JS/new.js.erb" %>
  </script>
<% end %>