<div id="about-index" class="section gray">
  <div class="container">
    <div class="card">
      <div class="card-content" style="padding: 40px 100px;">
	<h5>只是想出門走走</h5>
	<p>
		週末有時心血來潮想出遊，因為時間有限，活動的範圍不會很大，搜尋旅遊行程往往都是多點排程的行程或者太多地方無法決定。
		抑或是出差在外臨時有的空檔，想要利用有限的時間旅遊，卻往往找到很多資訊。
	</p>
	<h5>Travel Master來了！</h5>
	<p>
		使用者設定出發地點及挑選主題tag(如心情、群體、目的等)及時程tag(交通時間範圍)，系統自動推薦景點。
		推薦景點會根據使用者的偏好排序，同時點入景點可查看網友的照片及評論(包含針對主題推薦、及交通建議等)。
	</p>
	<h5>最後，祝福大家享受旅行、旅途安全愉快！</h5>
	<%= image_tag "group.jpg", class: "responsive-img", style: "padding-top: 24px;" %>
</div>
	</div>
	</div>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
    $(function(){
	    //客製 layout 的變數
	    $("#mainnav-4").addClass('active');
	    $("#sidenav-4").addClass('active');
	    $("#nav-bg-img").css("background-image","url(<%= asset_path 'jump.jpg' %>)");
	    $("#nav-header-h1").text("關於Travel Master");
	    $("#nav-header-tag").text("同樣是喜愛旅遊的人們！");
    })
  </script>
<% end %>